:root {
    --main-color: #13678b;
    --secondary-color: #aaaaaa;
    --color: #000;
    --background-color: #fcfcfa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #1a8fc1;
        --color: #bfbfbf;
        --background-color: #1f1f1f;
    }
}

body {
    font-family: Segoe UI, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    color: var(--color);
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Segoe UI Light, Segoe WP Light, Segoe UI, Helvetica, sans-serif;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-top: 30px;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
}

a, a:visited {
    text-decoration: none;
    color: var(--main-color);
}

    a:hover {
        text-decoration: none;
        color: white;
        background: var(--main-color);
    }

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

form {
    margin: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

article, section, .clear {
    clear: both;
}

header {
    color: var(--secondary-color);
    margin: 20px;
}

label {
    margin-bottom: 2px;
}

footer {
    margin-top: 20px;
    color: var(--secondary-color);
    font-size: 0.9em;
    width: auto;
}

/* from https://github.com/milligram/milligram/ */
.container {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(30px, auto);
}

.small {
    width: 400px;
    grid-template-columns: 1fr 1fr;
}

.large {
    width: 500px;
    grid-template-columns: 0.4fr 1fr 1fr;
}

.span2 {
    grid-column: span 2;
}

.column2 {
    grid-column: 2
}

textarea {
    height: 200px;
}

label {
    line-height: 35px;
}

.vertical-center {
    align-self: center;
}

#cover-img {
    height: 100px;
    margin: auto;
}

#editor {
    text-align: justify;
}

.CodeMirror {
    color: var(--color);
    background-color: var(--background-color);
}

input[type="text"], input[type="password"], input[type="date"], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    box-shadow: none;
    padding: .6rem 1.0rem;
    color: var(--color);
}

    input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, textarea:focus {
        border-color: var(--main-color);
    }

    input[type="text"]:invalid:not(:placeholder-shown),
    input[type="password"]:invalid:not(:placeholder-shown),
    input[type="date"]:invalid:not(:placeholder-shown),
    textarea:invalid:not(:placeholder-shown) {
        border-color: #8b1367;
        outline: 0;
    }

.info {
    border-radius: .4rem;
    color: #fff;
    width: 500px;
    margin: 0 auto 20px auto;
    padding: 10px;
}

    .info.error {
        background-color: #8b1367;
    }

    .info.success {
        background-color: #678b13;
    }

    .info.warning {
        background-color: #CAB252;
    }

.button {
    background-color: var(--main-color);
    border: 0.1rem solid var(--main-color);
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    padding: 0 3.0rem;
    text-align: center;
    text-decoration: none;
}

    .button[disabled] {
        cursor: default;
        opacity: .5;
    }

    .button:focus, .button:hover {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
    }

    .button[disabled]:focus, .button[disabled]:hover {
        background-color: var(--main-color);
        border-color: var(--main-color);
    }

    .button.button-outline {
        background-color: transparent;
        color: var(--main-color);
    }

        .button.button-outline:focus, .button.button-outline:hover {
            background-color: transparent;
            border-color: var(--secondary-color);
            color: var(--secondary-color);
        }

svg {
    width: 25px;
    height: 25px;
}

/* from https://github.com/nzbin/three-dots */
/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--main-color);
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;
    left: calc(50% - 5px);
}

    .dot-flashing::before, .dot-flashing::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
    }

    .dot-flashing::before {
        left: -15px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: var(--main-color);
        color: var(--main-color);
        animation: dotFlashing 1s infinite alternate;
        animation-delay: 0s;
    }

    .dot-flashing::after {
        left: 15px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: var(--main-color);
        color: var(--main-color);
        animation: dotFlashing 1s infinite alternate;
        animation-delay: 1s;
    }

@keyframes dotFlashing {
    0% {
        background-color: var(--main-color);
    }

    50%, 100% {
        background-color: #469ABE; /* lighten 20%*/
    }
}

/* min-device-width: 800px instead? */
@media screen and (max-width:900px) {
    body {
        width: auto;
        margin: 10px;
    }

    main {
        width: 100%;
    }

    h1 {
        margin-top: -0px;
    }
}

@media screen and (max-width: 600px) {
    label, input, button, .column2 {
        grid-column: 1 / 5;
    }

    .span2 {
        grid-column: span 3;
    }
}
