	<head>
		<meta content="fr-fr" http-equiv="Content-Language" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="author" content="Jérémie Bertrand" />
		<meta name="fediverse:creator" content="@laedit@piaille.fr" />
		<title>{% if page.title %}{{ page.title }} | {% endif %} Laedit's Reading List</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="shortcut icon" href="/img/favicon.ico" />
		<link href="https://piaille.fr/@laedit" rel="me" >
	</head>
