@{
    Layout = "Views/layout.cshtml";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<AddBook.ViewModels.Book>

@if (ViewBag["success"])
{
    <div>Book added.</div>
}

<form method="post" action="/">
    <label for="ISBN">ISBN</label>
    <div>
    </div>
    <label for="StartDate">Reading start date</label>
    <div>
    </div>
    <input type="submit" name="submitBook" value="Submit book" />
</form>