@{
    Layout = "Views/layout.cshtml";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<AddBook.ViewModels.LoginData>


<form method="post" action="">
    <label for="Username">User name</label>
    <div>
        <input type="text" name="Username" id="Username" placeholder="user name" />
    </div>
    <label for="Password">Password</label>
    <div>
        <input type="password" name="Password" id="Password" placeholder="password" />
    </div>
    <input type="submit" name="authenticate" value="Authenticate" />
</form>