---
layout : layout
---

<section>
	{% for post in site.posts limit:5 %}
		<article>
			{% if forloop.first and post.layout == "book" or post.layout == "magazine" %}
				<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
			{% else %}
				<h2><a class="postlink" href="{{ post.url }}">{{ post.title }}</a></h2>
			{% endif %}
			<time class="postdate" pubdate="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%e %B %Y" }}</time>
			{% if post.layout == "book" %}
			<ul class="book-infos">
				<li>{{ post.author }}</li>
				<li>{{ post.editor }}</li>
				<li>{{ post.isbn }}</li>
			</ul>
			{% endif %}
			{{ post.content }}
		</article>
	{% endfor %}
</section>

<section class="archive">
	{% if site.posts.size > 5 %}
	<h3>Précédemment</h3>
	<ul class="archives">
		{% for post in site.posts offset:5 %}
		{% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
		{% if year %}{% unless year == post_year %}
		<li>
			<hr class="hr-text" data-content="{{ post_year }}">
		</li>
		{% endunless %}{% endif %}
		<li>
			<time class="olderpostdate" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_justify }}</time> <a class="postlink" href="{{ post.url }}">{{ post.title }}</a>
		</li>
		{% assign year = post_year %}
		{% endfor %}
	</ul>
	{% endif %}
<section>