<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>AddBook</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    @RenderSection("Head", required: false)
    <link rel="stylesheet" type="text/css" href="~/style.css" />
</head>
<body>
    <header>
        <a href="/">Add a book at the reading list</a> of <a href="//laedit.net">Jérémie Bertrand</a>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        Crafted with <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-3.1">ASP.NET Core 6.0</a> | Hosted by <a href="https://ikoula.com">Ikoula</a> | <a href="https://thenounproject.com/term/book/9405/">Book</a> icon by <a href="https://thenounproject.com/jmkeuning/">James Keuning</a>
    </footer>
</body>
</html>
