<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	{% include head.html %}
	<body>
		<header>
			<a href="/">Liste de lecture</a> de <a href="//laedit.net">Jérémie Bertrand</a>
		</header>
		<main>
			{{content}}
		</main>
		<footer>Généré par <a href="https://github.com/code52/pretzel">Pretzel</a> | Hébergé par <a href="https://ikoula.com">Ikoula</a> | Icone <a href="https://thenounproject.com/term/book/9405/">Book</a> par <a href="https://thenounproject.com/jmkeuning/">James Keuning</a> | Données des livres provenant de la <!-- BEGIN PARTNER PROGRAM - DO NOT CHANGE THE PARAMETERS OF THE HYPERLINK -->
<a href="http://clic.reussissonsensemble.fr/click.asp?ref=749697&site=14485&type=text&tnb=2" target="_blank">
Fnac.com</a><br /><img src="http://banniere.reussissonsensemble.fr/view.asp?ref=749697&site=14485&type=text&tnb=2" BORDER="0" WIDTH="1" HEIGHT="1" /><br />
<!-- END PARTNER PROGRAM --></footer>
	</body>
</html>