<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	{% include head.html %}
	<body>
		<header>
			<a href="/">Liste de lecture</a> de <a href="//laedit.net">Jérémie Bertrand</a>
		</header>
		<main>
			{{content}}
		</main>
		<footer>
				Généré par <a href="https://github.com/code52/pretzel">Pretzel</a>
				| Hébergé par <a href="https://ikoula.com">Ikoula</a>
				| Icone <a href="https://thenounproject.com/term/book/9405/">Book</a> par <a href="https://thenounproject.com/jmkeuning/">James Keuning</a>
			<br />
				Données des livres provenant de <a href="https://www.fnac.com" target="_blank">Fnac.com</a>
				| Données des magazines provenant de <a href="https://www.epsiloon.com/" target="_blank">Epsiloon</a> et <a href="https://larevuedessinee.fr/" target="_blank">Le Revue Dessinée</a>
		</footer>
	</body>
</html>