@model AddBook.Models.LoginData

<form method="post" action="" class="container small">
    <label for="Username">User name</label>
    <input type="text" name="Username" id="Username" placeholder="User name" />

    <label for="Password">Password</label>
    <input type="password" name="Password" id="Password" placeholder="Password" />

    <input type="submit" name="authenticate" value="Authenticate" class="button column2" />
</form>
